body{
    font-family: 'Fira Sans', sans-serif;
    color: #8D8D8D;
    font-size: 18px;
}
button{
    display: block;
    border: none;
    background: transparent;
}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
.vh-dependent{
    /* левый блок offer-а стоит по центру (по вертикали) в зависимости от размера экрана*/
    height: 35vh;
    display: flex;
    align-items: center;
}
.be-static{
    position: static;
}
h1, h2, h3, h4, h5, h6{
    font-style: normal;
    font-weight: 700;
    color: #151515;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 22px;
}
.btn{
    background: #3726F2;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    display: inline;
    border-radius: 0;
    letter-spacing: 0.3em;
    text-align: center;
    transition: all 0.5s ease;
}
.btn:hover{
    background: #1507AF;
    color: #fff;
}
.header{
    height: 95vh; /*т.к. абсолютное позиционирование=> задаем высоту и блок "problems" не будет накладываться на блок "header"*/
}
.nav{
    padding-top: 59px;  
    margin-bottom: 127px;
}
.search-btn{
    position: absolute;
}
.search-btn:focus {
    outline: none;
}
.search{
    opacity: 0;
    position: relative;
    left: 37px;
    height: 30px;
    width: 0;
    transition: all .3s ease;
}
.search.__opened{
    opacity: 1;
    width: 150px;
}
.search input{
    height: 100%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border: none;
}
.search input:focus{
    outline: none;
}
button:focus {
    outline: 1px solid rgba(0,0,0,.15);
}
.dropdown-menu {
    border-radius: 0;
    text-align: right;
    margin: 0.6rem -158px 0;
}
.dropdown-item{
    color: #8D8D8D;
}
.dropdown-item:hover {
    color: #222222;
}
.offer-cont__title{
    font-size: 60px;
    letter-spacing: -0.001em;
    line-height: 1.2em;
}
.offer-cont__text{
    margin: 30px 0 56px;
}
.offer-cont__btn{
    padding: 13px 26px;
}
.hero{
    background: url(../img/img1.jpg) no-repeat right top;
    background-size: 80% 100%; /* размер картинки, в зависимости от размера экрана*/
    width: 55%; /*ширина в зависимости от размера экрана*/
    height: 80vh;
    /*для того, чтобы добиться прибивания к правому краю. Позиционирование от родителя (в данном случае от body). + создали класс be-static и присвоили ему position: static;*/
    position: absolute;
    right: 0;
    top: 142px;
}
.video{
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 40%;
    height: 33%;
    display: block;
    background: url(../img/video.jpg) no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video::after{
    content: '';
    display: block;
    background: url(../img/play.svg);
    width: 65px;
    height: 65px;
}
.problems{
    padding-top: 137px;
}
.problems .poster{
    width: 100%;
}
.about__title{
    margin-bottom: 30px;
}
.about__text{
    margin-right: 60px;
}
.about__author{
    background: url(../img/author.jpg) no-repeat left center;
    padding: 7px 0 7px 96px; /* для того, чтобы была видна вся картинка(+сокращ код, не прописываем отдельно высоту, + удобно для моб устроиств). Последний отступ-размер картинки + отступ от картинки до текста*/
    margin-top: 61px;
}
.about__name{
    font-size: 22px;
}
.about__dop{
    margin-bottom: 0;
}
.services{
    padding-top: 142px;
}
.section-title__label{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.25em;
    color: #C2C2C2;
    margin-bottom: 40px;
}
.serv-list{
    margin-top: 67px;
}
.serv-list__item{
    margin-bottom: 20px;
}
.serv-list__left{
    margin-left: 37px;
}
.works-carousel{
    margin-top: 99px;
}
@media screen and (min-width: 992px){
   .works-carousel .item, .works-carousel .owl-item{
      width: 825px !important;
      position: relative;
   }
}
.owl-theme .owl-dots, .owl-theme .owl-nav{
    text-align: left;
}
.owl-theme .owl-nav [class*=owl-]{
    margin: 0;
}
.works-carousel .owl-nav{
    margin-top: 50px !important;
}
.works-carousel .owl-prev{
    margin-right: 25px !important;
}
.works-carousel__play{
    display: block;
    background: url(../img/play.svg);
    width: 65px;
    height: 65px;
    position: absolute;/*при этом сама карусель: position: relative;*/
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;/*выравнивание элемента: margin= -половинавысоты и ширина элемента*/
    cursor: pointer;
}
.result{
    padding-top: 219px;
    display: block;
}
.collage{
    width: 50%;
    height: 540px;
    background: url(../img/img6.jpg) no-repeat left top / 80% 70%;
    position: absolute;
    left: 0;
}
.collage img{
    display: block;
    width: 350px;
    height: 453px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 30px 80px 130px rgba(0,0,0,0.25);
}
.easy{
    margin-left: 65px;
    margin-top: 30px;
}
.easy__title{
    margin-bottom: 30px;
}
.easy__text{
    margin-bottom: 62px;
}
.easy__point{
    padding: 20px 0 20px 83px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #222222;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 25px;
}
.easy__point_first{
    background: url(../img/icon100.svg) no-repeat left center;
}
.easy__point_second{
    background: url(../img/bag.svg) no-repeat left center;
}
.works{
    padding-top: 283px;
}
.work-tabs{
    margin-left: 60px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-top: 70px;
}
.work-tabs__item a{
    text-decoration: none;
    color: #8D8D8D;
}
.work-tabs__item.active a{
    color: #1434E1;
}
.works-wrap{
    flex-wrap: wrap;
    margin-top: 108px;
}
.works-wrap__item{
    margin-bottom: 30px;
    position: relative;
}
.works-wrap__item img{
    transition: all 1s ease;
    display: block;
}
.works-wrap__item:hover img{
    box-shadow: -30px 80px 200px rgba(0,0,0,0.25);
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
.works-wrap__item:hover::after{
    content: '';
    display: block;
    background: url(../img/play.svg);
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
}
.tabs__content {
    display: none !important; 
}
.tabs__content.active {
    display: flex !important; 
}
.work-dop{
    padding-top: 52px;
}
.work-dop__btn{
    padding: 15px 31px;
    margin-left: 33px;
}
.testimonials{
    padding-top: 248px;
}
.testimonials .section-title__heading{
    letter-spacing: -0.002em;
}
.contrituror{
    margin-top: 121px;
}
.contributor__title{
    margin-bottom: 13px;
    margin-top: 121px;
}
.cont-photo{
    display: block;
}
.contributor-carousel .owl-nav{
    display: flex;
    margin-top: -50px;
    position: relative;
}
.contributor-carousel .owl-prev{
    margin-right: 25px;
}
.clients{
    padding-top: 278px;
}
.clients__label{
    margin-bottom: 17px;
    color: #222222;
}
.clients-row{
    margin-top: 127px;
}
.footer{
    height: 240px;
    background: #515151;
    margin-top: 136px;
}
.footer-logo{
    margin-top: 109px;
    margin-bottom: 109px;
}
@media screen and (max-width: 1200px){
    .contributor__title {
        margin-top: 60px;
    }
    .work-tabs{
        margin-left: 0;
    }
    .works-wrap__item{
        width: 30%;
    }
    .works-wrap__item img{
        display: block;
        width: 100%;
    }
    .btn{
        font-size: 10px;
    }
}
@media screen and (max-width: 992px){
    .body{
        font-size: 16px;
    }
    .nav{
        margin-bottom: 163px
    }
    .video{
        width: 59%;
    }
    .offer-cont__text {
        margin-right: 52px;
    }
    .section-title__heading {
        font-size: 27px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    .contributor__title {
        margin-top: 30px;
        margin-bottom: 3px;
    }
    .testimonials .section-title__heading{
        font-size: 24px;
    }
    .footer {
        height: 144px;
        margin-top: 80px;
    }
    .footer-logo {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 768px){
    .offer-cont__title {
        font-size: 48px;
    }
    .search.__opened{
        width: 120px;
        font-size: 15px;
    }
    .nav {
        margin-bottom: 40px;
    }
    .hero{
        position: relative;
        width: 100%;
        height: 200px;
        top: 0;
        margin-top: 60px;
    }
    .vh-dependent{
        height: auto;
        display: flex;
        align-items: center;
    }
    .video{
        width: 50%;
        height: 90%;
    }
    .problems {
        padding-top: 0px;
    }
    .result {
        padding-top: 119px;
    }
    .about{
        margin-top: 60px;
    }
    .collage{
        position: relative;
        width: 100%;
    }
    .easy {
        margin-left: 0;
    }
    .works-wrap {
        margin-top: 80px;
    }
    .works-wrap__item{
        width: 45%;
        margin-bottom: 40px;
    }
    .works {
        padding-top: 80px;
    }
    .testimonials {
        padding-top: 80px;
    }
    .contributor-carousel .owl-nav {
        margin-top: 30px;
    }
    .clients {
        padding-top: 80px;
    }
    .clients__label {
        margin-top: 20px;
    }
    .clients-row {
        margin-top: 80px;
    }
}
@media screen and (max-width: 570px){
    .header {
        height: 103vh;
    }
    .poster{
        padding-top: 45px;
    }
    .serv-list__left{
        margin-left: 0;
    }
    .works-wrap__item{
        width: 100%;
    }
    .clients-row{
        flex-direction: column;
    }
    .clients-row__item{
        margin-bottom: 60px;
        text-align: center;
    }
    .work-tabs__scroll-add{
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: left;
        padding-bottom: 30px;
        margin-bottom: -30px;
        -webkit-overflow-scrolling: touch;
    }
    .work-tabs__scroll{
        overflow: hidden;
    }
    .work-tabs__item{
        padding-right: 42px;
    }
    .work-tabs__item-last{
        padding-right: 0;
    }
}
@media screen and (max-width: 400px){
    .search{
        left: 30px;
    }
    .search.__opened{
        width: 90px;
        font-size: 13px;
    }
    .header {
        height: 97vh;
    }
    .poster{
        padding-top: 210px;
    }
}
@media screen and (max-width: 330px){
    .header {
        height: 120vh;
    }
}